* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: tahoma, Arial;
}
.control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgba(3, 169, 244, 0.9);
}
.control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    color: #fff;
    padding: 15px 25px;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    background-color: #f44336;
}
.container {
    margin: auto;
    width: 800px;
    
}
.info {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #00bffe;
}
.info .user .name {
    color: #4169E1;
}
.info .counter {
    padding: 10px;
    color: white;
    background-color: #f44336;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.images {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    gap: 10px;
}
.images .icon {
    position: relative;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.images .icon.no-clicking {
    pointer-events: none;
}
.images .icon .front,
.images .icon .back{
    width: 150px;
    height: 150px;
    font-size: 50px;
    border: 3px solid #00bffe;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.images .icon .front {
    background-color: #183153;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 2;
}
.images .icon .back {
    background-color: #48D1CC;
}
.images .icon .back i{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.images .icon.is-flipped,
.images .icon.has-match {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    pointer-events: none;
}
.players {
    width: 100%;
    border: 1px solid #00bffe;
    padding: 20px;
    margin: 20px 0;
}
.players > span {
    background-color: #f44336;
    color: white;
    padding: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 24px;
}
.players .player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
    color: #222;
    margin: 20px 0;
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 20px;
}
.win {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 255, 127, 0.9);
}
.win::before {
    content: "You FinIsh The Game";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.win button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: #00bffe;
    display: block;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.game-over {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 69, 0, 0.9);
}
.game-over::before {
    content: "Game Over";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.game-over button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    color: white;
    padding: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: #00bffe;
    display: block;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: bold;
}